body{
  background: url(https://i.stack.imgur.com/GHqYx.jpg);
}

div{
  background: red;
  border-color: blue;
  border-width: 4px;
  border-style: solid;
}

span{
  color: yellow;
}

p{
  background: grey;
}


.one{
  color: purple;
}

.two{
  color: blue;
}

#simon{
  color: green;
  text-decoration: line-through;
}
